.commentBody{
  
    margin: 5px;
    margin-left: 25px;
    /* float: left; */
}
img{
    border-radius: 50%;
}
.postData{
    margin: auto;
    display: flex;
    width: 600px;
    /* height: 350px; */
}
